@font-face{
    font-family: "cairofont";
    src: url(../fonts/Cairo-Regular.ttf);
}
body{
    font-family: "cairofont", Arial, sans-serif;
    background-color: #fafafa;
}
a{
    color: #000000 !important;
    text-decoration: none;
}
button{
    background-color: transparent !important;
    color: #bf40bf !important;
    border-color: #bf40bf !important;
}
button:hover{
    background-color: #bf40bf !important;
    color: #ffffff !important;
}
.container-fluid{
    padding: 0;
    overflow: hidden;
}
#top-menu .bg-light{
    background-color: #ffffff !important;
}
#top-menu .video-icon{
    background-color: #bf40bf;
    color: #ffffff;
    border-radius: 15%;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active > .nav-link{
    color: #ffffff !important;
    background-color: #bf40bf;

}
.log-in{
    color: #bf40bf;
}
.modal .modal-header .close:hover{
background-color: transparent !important;
color: #bf40bf !important;
}
input.form-control:focus, 
button:focus{
    box-shadow: none !important;
}
.card .card-icon{
    position: relative;
}
.card .card-title{
    height: 50px;
    overflow: hidden;
}
time{
    position: absolute;
    bottom:10px ;
    left:7px ;
    color: #ffffff;
    background-color: #000000;
    padding: 0px 3px;
}
.card .fa-play{
    position: absolute;
    top: 43%;
    right: 41%;
    color: #2c3131c7;
    display: none;
}
.card:hover .fa-play{
    display: inline;
}
.card:hover{
    transform: translateY(-.9%);
}
.card{
    transition: transform .5s;
}
#top-menu .fa-bars:hover{
    cursor: pointer;
}
.sidebar{
    position: fixed;
    z-index: 4;
    width: 17rem;
    right: -17rem;
    transition: all 0.5s ease-in-out;
    height: 100%;
    background-color: #ffffff;
    overflow-y: scroll;
    padding-bottom: 30px;

}
.sidebar .purple{
    color: #bf40bf;
}
.sidebar .list-group-item:hover{
    background-color: #bf40bf;
    color: #ffffff !important;
}
.sidebar .list-group-item:hover .purple{
    color: #ffffff;
}
#wrap.toggled .sidebar{
    right: 0rem;
}
.sidebar::-webkit-scrollbar{
    background: rgba(230,230,230);
    width: 8px;
}
.sidebar::-webkit-scrollbar-thumb{
    background: rgba(179,179,179);
    width: 8px;
}
.layer{
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
    display: none;
}

.navbar .search-icon{
    color: #bf40bf;
    cursor: pointer;
    /*padding: 15px 10px*/
    position: absolute;
    top: 15px;
    left: 132px;
    display: none;
}
.search-input{
    position: fixed;
    top: 55px;
    border: none;
    padding: 6px, 23px;
    height: 60px;
    background-color: #efeeee;
    display: none;
    z-index: 1;
}
.search-input:focus{
    background-color: #efeeee;
}
@media (max-width: 1115px) {
    .navbar .collapse .form-inline {
        display: none;
    }
    .navbar .search-icon {
        display: inline;
    }
}
@media (min-width: 1115px){
    .search-input{
        display: none !important;
    }
} 